@import "colors.css";


* {
	font-family: "CaskaydiaMono Nerd Font";
	font-weight: bold;
	min-height: 0;
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 99%;
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

tooltip {
	color: @inverse_surface;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

tooltip label{
	color: @inverse_surface;
}
/*-----module groups----*/
.modules-right {
	/*background-color: rgba(0,0,0,0.5);*/
	color: @secondary;
/*	border-bottom: 0px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;*/
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
.modules-center {
	/*background-color: rgba(0,0,0,0.5);*/
	color: @secondary;
/*	border-bottom: 0px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;*/
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
.modules-left {
	/*background-color: rgba(0,0,0,0.5);*/
	color: @secondary;
	/*border-bottom: 0px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;*/
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
/*-----modules indv----*/
#taskbar button,
#workspaces button {
	color: @outline;
    box-shadow: none;
	  text-shadow: none;
	  padding: 0px;
	  padding-bottom: 0px;
	  padding-top: 1px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.15s ease;
}
#taskbar button:hover,
#workspaces button:hover {
    color: @primary;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

#taskbar button.active,
#workspaces button.active {
	color: @background;
	  background-color: @primary;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button.urgent {
    color: @primary;
    border-radius: 10px;
}

#workspaces button.persistent {
	border-radius: 10px;
}

#custom-swaync {
  background-color: alpha(@surface_container, 0.75);
 /* border: 1px solid @surface_container; */
  border-radius: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 15px;
	margin: 0 0 0 5px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  background-color: alpha(@surface_container, 0.75);
 /* border: 1px solid @surface_container; */
  border-radius: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 0 0 5px;
}
/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
}

#pulseaudio.muted {
	color: #cc3436;
}
#temperature.critical {
	color: red;
}

@keyframes blink {
	to {
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	color: #f53c3c;
}

#backlight-slider slider,
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#group-connections {
    background: @background;
    padding: 0 4px;
    margin: 0 5px;
}

#network, #bluetooth {
    margin: 0;
    padding: 4px;
}

#network {
	border-radius: 20px 0px 0px 20px;
	padding: 4px 12px 4px 15px;
}

#bluetooth {
	border-radius: 0px 20px 20px 0px;
	padding: 4px 8px 4px 6px;
}

#custom-power {
	padding: 4px 15px 4px 12px;
} 
